{% extends 'base.html.twig' %}

{% block title %}Редактирование{% endblock %}

{% block body %}
    <h1>Редактирование</h1>

    {{ include('dossier/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
